<div class="discount">
    <img src="assets/images/discount.svg">
    <div class="title">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
    <div>-20%</div>
</div>
<footer id="footer"><p>Just a project :)</p>
    <p>Доставка піци не здійснюється</p>
</footer>