<div class="top-row">
    <span id="kma"><span class="title">PIZZA <h3>KMA</h3></span><img src="assets/images/discount.svg"></span>
    <div id="two-lines">
        <div class="top"><span
                    class="tel visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">(044) 222 5 222</span>
            <span class="work-hours visible-lg-inline-block visible-md-inline-block">24 години/ 7 днів на тиждень</span>
            <span class="free visible-lg-inline-block">Безкоштовна доставка піци</span>
            <button class="btn btn-warning"><span class="glyphicon glyphicon-user"></span> Ввійти</button>
        </div>
        <div class="bottom"><a href="/" class="hidden-xs">Піца</a></div>
    </div>
</div>